---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../posts/*.md");
---

<Layout title="Blog">
  <h1>Blog</h1>
  {
    posts.map((post) => (
      <div class="mb-10">
        <h2>{post.frontmatter.title}</h2>
        <a href={`/${post.frontmatter.slug}`}>Read More</a>
      </div>
    ))
  }
</Layout>
