---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

// const posts = await Astro.glob("../content/blog/*.md");
const posts = await getCollection("blog");
---

<Layout title="Blog">
  <h1>Blog</h1>
  {
    posts.map((post) => (
      <div class="mb-10">
        <h2>{post.data.title}</h2>
        <a href={`/${post.slug}`}>Read More</a>
      </div>
    ))
  }
</Layout>
